/* Element styles */

body {
    text-align: center;
    margin-top: 50px;
    background-color: #ffefdb;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

/* Class styles */


.header {
    font-size: 70px;
}

.form-group {
    text-align: center;
}


.start-btn {
    margin-top: 50px;
    background-color: #79d70f;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 3rem;
    color: #000;
    font-family: 'Libre Baskerville', serif;
    border-radius: 100%;
    border-width: 2px;
    border-color: black;

}

.stop-btn {
    margin-top: 50px;
    background-color: black;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    border-radius: 100%;
    color: #000;
    font-family: 'Libre Baskerville', serif;
    border-width: 2px;
    border-color: black;
    position: relative;
}

.timer-btn {
    margin-top: 50px;
    background-color: rgb(112, 203, 240);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 3rem;
    color: #000;
    font-family: 'Libre Baskerville', serif;
    border-radius: 100%;
    border-width: 2px;
    border-color: black;
}

.timer-div {
    margin-top: 100px;
}

.timer-span {
    font-size: 100px;
}

.badge {
    width: 300px;
    height: 80px;
    font-size: 50px;
    cursor: pointer;
}

.stop {
    height: 30px;
    width: 30px;
    margin: auto;
    background-color: red;
    border: 3px solid red;
}

.badge-danger {
    background-color: #0779e4;
}